<html>
    <head>
          {% load static %}
          <style>
            body{
                background-color:papayawhip;
            }
          </style>
        <title>
            ALAPPUZHA
        </title>
       
        <body>
            <h1 style="text-align:center ;">
                ALAPPUZHA
            </h1>
            <img style="margin-left:15px ;" src="{% static 'images/alappuzha.jpg' %}"width="50%">
            <p style="margin-left:55%; margin-top:-28%;color:blueviolet;font-size: 20px;">Referred to as the Venice of the East, Alappuzha has always enjoyed an important place in the maritime history of Kerala. Today, it is famous for its boat races, backwater holidays, beaches, marine products and coir industry. Alappuzha Beach is a popular picnic spot. The pier, which extends out to the sea here, is over 137 years old. Entertainment facilities at the Vijaya Beach Park add to the attraction of the beach. There is also an old lighthouse nearby which greatly intrigues all visitors.

                Another delightful experience while in Alappuzha is the houseboat cruise. The houseboats you find in the backwaters of Alappuzha are in fact a reworked version of the Kettuvallams of olden times. Kettuvallam is a Malayalam word, ‘Kettu’, refers to dwelling structures and ‘Vallom’ means boat. In the olden days, kettuvallam or boat with thatched roof that covers over wooden hulls was used to carry tons of rice and spices. 
                
                Of late, houseboats come equipped with all the comforts of a good hotel room including furnished bedrooms, modern toilets, cozy living rooms, a kitchen and even a balcony for angling. An uninterrupted view of life in the backwaters can be enjoyed while staying in a houseboat.</p>
            <p style="color:blueviolet;font-size: 20px;">Houseboats are available at Thiruvananthapuram, Kollam, Kottayam, Allappuzha, Ernakulam, Thrissur and Kasaragod. Please contact DTPCs for more info.

                DTPC Houseboat Pre-paid Counter, Alappuzha
                
                For booking houseboats, travellers may make use of the House Boat Pre-paid Counter 'Trusted Service, Trusted Rates' managed by the District Tourism Promotion Council (DTPC).
                
                </p>
       <button style="margin-left: 50% ;background-color: green;"><a style="color:white;text-decoration: none;" href="{% url 'kerala' %}">BACK TO HOME</a></button>
            </body>
    </head>
</html>