<html>
    <head>
          {% load static %}
          <style>
            body{
                background-color: lightblue;
            }
          </style>
        <title>
            BEYPORE
        </title>
       
        <body>
            <h1 style="text-align:center ;">
               BEYPORE
            </h1>
            <img style="margin-left:15px ;" src="{% static 'images/beypore.jpg' %}"width="50%">
            <p style="margin-left:55%; margin-top:-28%;color: blue;font-size: 20px;">Beypore Water Fest<br>
                Welcome adventure enthusiasts!<br>It's time to soak in the festive mood at Beypore, a land where the old ethos of shipbuilding is still carefully nurtured.The Kerala government has decided to organise the ‘Beypore Water Fest’ in Kozhikode district from December 26- 29, 2021. Diverse water sports and entertainment events will be arranged.Kayaking, canoeing, water polo, parasailing, speed boat racing, water skiing, powerboat racing, yacht racing, wooden log racing and timber rafting etc will be conducted as part of the fiesta.
                For over 1500 years, Beypore has serviced traders from across the world as a ship building paradise. To this day, tales of the past are widespread as to how this town’s ship building expertise has helped foster trade between Kerala and the world. Among the places in Kozhikode that were visited by the Arabs, Chinese and the Europeans, Beypore stands proud as a craftsman’s paradise, a place where the old ethos of shipbuilding are still carefully nurtured.Uru or the Arabian transportation vessel is the main lure here.</p>
                <p style="color: blue;font-size: 20px;"> The ship building yard is famous for the work ethic passed on to each of its employees over the ages. While most modern iterations rely on blueprints and technology, these unique individuals rely on intuition. Their intrinsic ability to conceptualise the final product is magical to view in person and their discipline while doing the same is legendary. While in the area, one can stroll towards the nearby fishing harbour or pop over to the popular haunt of migratory birds, the Kadalundi Bird Sanctuary. This quaint town will never bore you; its traditions are woven deep into its fabric and can be experienced by all who choose to make the journey.       
        
    </p>
    <button style="margin-left: 50% ;background-color: green;"><a style="color:white;text-decoration: none;" href="{% url 'kerala' %}">BACK TO HOME</a></button>

        </body>
    </head>
</html>