<html>
    <head>
          {% load static %}
          <style>
            body{
                background-color: lightyellow;
            }
          </style>
        <title>
            GAVI
        </title>
       
        <body>
            <h1 style="text-align:center ;">
                GAVI
            </h1 style="text-align:center ;">
            <img style="margin-left:15px ;" src="{% static 'images/gavi.jpg' %}"width="50%">
            <p style="margin-left:55%; margin-top:-28%;color: yellowgreen;font-size: 20px;">Gavi Eco-Tourism , a project of the Kerala Forest Development Corporation, has caught the attention of tourists for a while now. The project is exclusive in many respects and the majority who visited were nature lovers and adventure tourists. Over a short period of time visitors to Gavi gradually increased, especially after 'Alistair International' the world acclaimed tourism major listed it among the leading eco-tourism centres and one of the must-see places in India.

                A highlight of the Gavi Eco Project is the involvement of the local populace in its activities as guides, gardeners and cooks. This provides livelihood for the locals and also helps to create awareness on the conservation of nature. Gavi, located in Pathanamthitta district offers its visitors activities like trekking, wildlife watching, outdoor camping in specially built tents and night safaris.
                
                The road leading to Gavi is blanketed by tea plantations, which itself is a refreshing experience. En route to Gavi are places of interest like Mundakayyam, Kuttikanam, Peermedu and Vandiperiyar from where the road deviates to Gavi.
                
                Once you reach Gavi the serene eco-lodge 'Green Mansion' awaits you like a mother to embrace you in its protective fold.</p>
                <p  style="color:yellowgreen;font-size: 20px;"> From the 'Green Mansion', one can savour the spectacular view of the Gavi Lake and the adjoining forests. Besides the accommodation provided in 'Green Mansion' visitors can also try out the tree houses here and can even pitch tents in the wilderness. Here one can have outstanding trekking experiences, which are overseen by trained local people. Those who would love to be left alone can do so in the tranquil environs of Gavi or may even go canoeing in the placid waters of the lake or enjoy a breathtaking sunset. Visitors are usually provided vegetarian food and snacks, which further adds to the eco-friendly ambience of the place</p>
                <button style="margin-left: 50% ;background-color: green;"><a style="color:white;text-decoration: none;" href="{% url 'kerala' %}">BACK TO HOME</a></button>

            </body>
    </head>
</html>