<h1 style="background-color: green;
           text-align: center;
           font: 40px new times roman;
           color: white;">
 KERALA TOURISM
</h1>

<style>
   body{
        background-color: palegreen;
    }
</style>
<div style="margin-top: auto;background-color: lightgreen;" class="container">
<a style="color:green;font-size: 25px; text-decoration: none;" href="{% url 'alappuzha' %}">ALAPPUZHA</a>
<a style="color: green;font-size: 25px; text-decoration: none;margin-left: 20%" href="{% url 'gavi' %}">GAVI</a>
<a style="color:green;font-size: 25px; text-decoration: none;margin-left: 20%" href="{% url 'beypore' %}">BEYPORE</a>
<a style="color:green ;font-size: 25px; text-decoration: none;margin-left: 20%" href="{% url 'bekal' %}">BEKAL FORT</a>
</div>
<p style="text-align:center;font-size:30px;color: green;">WELCOME</p>
<p style="text-align:center;font-size:30px;color: green;">Kerala, a state on India's tropical Malabar Coast, has nearly 600km of Arabian Sea shoreline. It's known for its palm-lined beaches and backwaters, a network of canals. Inland are the Western Ghats, mountains whose slopes support tea, coffee and spice plantations as well as wildlife. National parks like Eravikulam and Periyar, plus Wayanad and other sanctuaries, are home to elephants, langur monkeys and tigers</p>
